body {
    width: 100%;
}

#main_container {
    margin: 10px auto 10px auto;
    padding: 0px;
    width: 960px;
}

.quiz_name {
    font-weight: bold;
    font-size: 30px;
}

.quizzes {
    list-style-type: none;
    margin: 10px;
    li {
        font-weight: bold;
        font-size: 20px;
    }
}
.quiz_options {
    font-size: 10px;
}

.questions {
    list-style-type: none;
    margin: 10px;
    li {
        font-size: 15px;
        font-weight: normal;
    }
}

.answer_key {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: white;
}
// .answer.correct {
//     font-weight: bold;
//     color: green;
// }
// .answer {
//     color: red;
// }